<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<h1>Login window</h1>
		<form th:action="@{/logcheck}" method="post" th:object="${userform}">
			User Name : <input type="text" th:field="*{username}" /><br /><br />
			Password : <input type="password" th:field="*{password}" /><br /><br />
			<input type="submit" value="Login" />
			<select>
				<option value="">lsdfkj</option>
				<option value="">lsdfkj</option>
				<option value="">lsdfkj</option>
				<option value="">lsdfkj</option>
			</select>
		</form>
		<div th:text="${msg}"></div>
	</div>

</body>

</html>